<%- include('temp/header');%>

<body id="">
   
  
    <h2>Titulos</h2>
    <h3>bachillerato<p> tecnico</p> <p> tecnologo-proceso</p></h3>
   


    <h2>Intitutos Educativos</h2>
    <h3><p>Colegio General Santander I.E.D</p><p>Sena</p></h3>
   
</body>
