<%- include('temp/header');%>
<%- include('temp/nabvar');%>
<body id="">
   <div id="infor">
     <h1>trabajos y tiempos</h1>
        <h4><p>carpinteria = 1 año</p><p>mesero = 3 meses</p><p>cargador = 1 mes</p></h4>
      

        <h1>habilidades </h1>
        <h4><p>carpinteria: manejo de lijadore pequeña , grande y de mano</p><p>,manejo de cierra estatica,manipulacion de pintura </p>
            <p>mesero: interacion mas cuidada con persona , aptitud, trabajo bajo presion</p> 
            <p>cargador: buenas practicas personales al trabajo = postura y capacidad fisica</p></h4>
   </div>
       


</body>
<%- include('temp/footer');%>