<%- include('temp/header');%>
<%- include('temp/nabvar');%>
<body id="">
 <div id="info">  
    <h1>Informacion</h1><br>

    <h4><p>Edad : 18</p><p>Nombres: kevin alexis</p><p> Apellidos: diaz pelayo</p><p>calle 70bis #121-52</p><p>estado educativo actual: estudiante</p></h4>
   </div>
  


</body>
<%- include('temp/footer');%>