@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');
#hoja{
    border-style: solid;
    border-radius: 1%;
    background-color: rgb(222, 178, 125);
    height: 690px;
    margin-top: -150px;
    margin-right: 400px;
    margin-left:840px;
    margin-bottom: 100px;
}
#info{
    border-radius: 1%;
    background-color: rgb(222, 178, 125);
    margin-top: -150px;
    font-family: 'Kadwa', serif;
    width: 190px;
    margin-left: 855px;
    margin-bottom: 100px;
    padding: 50px 50px;
    
}
#infor{
    padding: 50px 50px;

    border-radius: 1%;
    background-color: rgb(222, 178, 125);
    margin-top: -150px;
    font-family: 'Kadwa', serif;
    width: 500px;
    margin-left: 635px;
    margin-bottom: 100px;
    
    
}
#inform{
    padding: 50px 50px;
    border-radius: 1%;
    background-color: rgb(222, 178, 125);
    margin-top: -150px;
    font-family: 'Kadwa', serif;
    width: 500px;
    margin-left: 635px;
    margin-bottom: 100px;
    
    
}

section{
    margin-left: -815;
    margin-top: 10px;
    margin-bottom: 150px;
    height: 100px;
}

ul {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
li footer {
    display: block;
    color: white;
    text-align: center;
    width: 300px;
margin-left: -815 ;
    padding: 14px 16px;
    text-decoration: none;
}


li a {
    display: block;
    color: white;
    text-align: center;
    width: 300px;
margin-left: -815 ;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#ni a:hover {
    background-color:  #4CAF50;
}
.active {
    background-color: #4CAF50;
}

#bien{
    background-size: cover;  
    margin-top: -200px;
    margin-bottom: 0px;
    height: 500px;
    background-color: rgb(104, 211, 211);
    text-align: center;
    text-transform: uppercase;
}

footer{
    
    width: 100%;
padding: 1px;
  background-image: url(../background-footer.svg);

    background-size: cover;  
    margin-top: 0px;
    margin-right: -100px;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    height: auto;
    margin-left: 200px;
    margin-top: 100px;
}

.box__footer{
 display: flex;
 flex-direction: column;
 padding: 40 px;

}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size:  10px;
   }

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;    
}
.box__footer a .fa {
    font-size: 20px;    
}


.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;  
}

.box__copyright p{
    margin-top: 20px;
    color: #6d1717;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

#error{
    margin-top: 100px;
background: blue;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.container-404{
    text-align: center;
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0,0.3);
    border-radius: 5px;
    line-height: 1.7;

}
.bot{
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
img{
    border-radius: 100%;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}