
#hoja{
    border-style: solid;
    border-radius: 1%;
    background-color: bisque;
    height: 690px;
    margin-top: -90px;
    margin-right: 400px;
    margin-left:840px;
    margin-bottom: 20px;
}

#inf{
    border-style: solid;
    border-radius: 1%;
    background-color: bisque;
    margin-top: -90px;
    float: left;
    height: 690px;
    margin-left: 600px;
    
    
}
section{
    margin-left: -815;
    margin-top: 10px;
    margin-bottom: 150px;
}

ul {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
li footer {
    display: block;
    color: white;
    text-align: center;
    width: 300px;
margin-left: -815 ;
    padding: 14px 16px;
    text-decoration: none;
}


li a {
    display: block;
    color: white;
    text-align: center;
    width: 300px;
margin-left: -815 ;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#ni a:hover {
    background-color:  #4CAF50;
}
.active {
    background-color: #4CAF50;
}