<section>
    <ul>
        <li id="na"><a href="http://localhost:3000">kevin diaz</a> </li>
        <li id="ni"><a href="http://localhost:3000/educacion">educacion</a></li>
        <li id="ni"><a href="http://localhost:3000/experiencia">experiencia</a></li>
        <li id="ni"><a href="http://localhost:3000/informacion">informacion</a></li>
        
      </ul>
    </section>