<section>
    <ul>
        <li id="na"><a href="http://localhost:3000">Kevin Diaz</a> </li>
        <li id="ni"><a href="http://localhost:3000/informacion">Informacion</a></li>
        <li id="ni"><a href="http://localhost:3000/educacion">Educacion</a></li>
        
        <li id="ni"><a href="http://localhost:3000/experiencia">Experiencia</a></li>
        
        
      </ul>
    </section>